@import url("./pages.css");
/* Essa cor manual pertence a primeira DIV do index principal */

/* Esse tamanho manual pertence aos icones da index principal */

.img-icones {
  width: 40px;
  height: 40px;
}

/* Formatações percente a lista de links da index principal */

.lista-borda {
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  text-decoration: none!important;
  column-gap: 10px;
  color: #5c5c5c;
  border-radius: 5px;
  margin: 6px 0px;
  background: linear-gradient(90deg, #daa85e 50%, #e6bf72);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  transition-property: background-size;
  transition-timing-function: ease;
  transition-duration: 0.8s;
}

.lista-borda:hover {
  transition-duration: 1.0s;
  /* transition-delay: 0.1s; */
  background-size: 200% 100%;
  color: white;
}